@import url('https://fonts.googleapis.com/css?family=Raleway|Work+Sans');
/*

    font-family: 'Work Sans', sans-serif;

    font-family: 'Raleway', sans-serif;

*/


.navbar .navbar-brand {
    color: rgba(255, 255, 255, .85);
    font-size: 1rem;
}

.jumbotron {
    background-image: url(../images/msh-32.jpg);
    background-size: cover;
}
.jumbotron-text {
    font-size:6vw;
}

.font1 {
    font-family: 'Work Sans', sans-serif;
}

.font2 {
    font-family: 'Raleway', sans-serif;
}

.card-size {
    height: 8vh;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}